<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Register to  Home</h1>
    </header>
    <main>

        <form action="/host/addhome" method="post">
        enter Your name :<input type="text" placeholder="enter your name" name="username"/>
           enter Your Adreess :<input type="text" placeholder="enter your address" name="address"/>
           <input type="submit">
        </form>
    </main>
</body>
</html>